

.about-section h1{
    margin: auto;
    padding: 50px;
    text-align: center;
    color: #333;
  
}

@media only screen and (max-width: 480px) {
   

    .about-section h1 {
      font-size: 20px;
      padding: 15px;
    }

    #imgs h1 {
      font-size: 50px;
    }

    #about-banner {
      padding: 15px;
    
    }
    
  }