#hero-banner{
    display: flex;
    padding:72px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    

}
.hero-content p{
    
    margin: 14px 0px;
    color: #333;
    font-size: large;
}

.hero-content h1{ 
    color: #99BC85;
    font-size: 48px;
    text-shadow: 2px 2px 2px #333;
;

}

.hero-image{
    width: 100%;
}