#header{
    background-color: #99BC85;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #151515;

}

.nav-links{
    display: flex;
    gap: 20px;
    padding: 24px 20px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #151515;
    
}




.logo{
    max-height: 150px;
    max-width: 150px;
}
@media only screen and (max-width: 768px){
    
      .nav-links {
        display:flex;
        flex-direction: row;
        
        
       
        
      }
      .nav-links li{
            list-style: none;
      }
      .logo{
        max-height: 20%;
        max-width: 20%;
      }
      
    }
      
    
